<a href="https://colab.research.google.com/github/MatteoBettini/Stock-Market-Prediction-2020/blob/main/notebooks/Data%20exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [7]:
def series_to_supervised(data, n_in, dropnan=False):
    """
    Frame a time series as a supervised learning dataset.
    Arguments:
        data: Sequence of observations as a list or NumPy array.
        n_in: Number of lag observations as input (X).
        dropnan: Boolean whether or not to drop rows with NaN values.
    Returns:
        Pandas DataFrame of series framed for supervised learning.
    """
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t)
    cols.append(df.iloc[:][0] - df.shift(1).iloc[:][0])

    names += ['target']
  
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [9]:
dataset_url = 'https://raw.githubusercontent.com/MatteoBettini/Stock-Market-Prediction-2020/main/stock_markets_datasets/Processed_NASDAQ.csv?token=ANHXQQK4VPBE6ABSBCHTF5K74UP3W'
nasdaq_df = pd.read_csv(dataset_url)
# Dataset is now stored in a Pandas Dataframe
nasdaq_df = nasdaq_df.drop(columns=['Date','Name'])
nasdaq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1984 entries, 0 to 1983
Data columns (total 82 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Close           1984 non-null   float64
 1   Volume          1983 non-null   float64
 2   mom             1983 non-null   float64
 3   mom1            1982 non-null   float64
 4   mom2            1981 non-null   float64
 5   mom3            1980 non-null   float64
 6   ROC_5           1979 non-null   float64
 7   ROC_10          1974 non-null   float64
 8   ROC_15          1969 non-null   float64
 9   ROC_20          1964 non-null   float64
 10  EMA_10          1975 non-null   float64
 11  EMA_20          1965 non-null   float64
 12  EMA_50          1935 non-null   float64
 13  EMA_200         1785 non-null   float64
 14  DTB4WK          1984 non-null   float64
 15  DTB3            1984 non-null   float64
 16  DTB6            1984 non-null   float64
 17  DGS5            1984 non-null   float64
 18  DGS10           1984 non-null   float64
 19  Oil             1983 non-null   float64
 20  Gold            1983 non-null   float64
 21  DAAA            1984 non-null   float64
 22  DBAA            1984 non-null   float64
 23  GBP             1506 non-null   float64
 24  JPY             1505 non-null   float64
 25  CAD             1501 non-null   float64
 26  CNY             1505 non-null   float64
 27  AAPL            1983 non-null   float64
 28  AMZN            1983 non-null   float64
 29  GE              1983 non-null   float64
 30  JNJ             1983 non-null   float64
 31  JPM             1983 non-null   float64
 32  MSFT            1983 non-null   float64
 33  WFC             1983 non-null   float64
 34  XOM             1983 non-null   float64
 35  FCHI            1944 non-null   float64
 36  FTSE            1913 non-null   float64
 37  GDAXI           1917 non-null   float64
 38  GSPC            1983 non-null   float64
 39  HSI             1814 non-null   float64
 40  DJI             1983 non-null   float64
 41  SSEC            1746 non-null   float64
 42  RUT             1983 non-null   float64
 43  NYSE            1983 non-null   float64
 44  TE1             1984 non-null   float64
 45  TE2             1984 non-null   float64
 46  TE3             1984 non-null   float64
 47  TE5             1984 non-null   float64
 48  TE6             1984 non-null   float64
 49  DE1             1984 non-null   float64
 50  DE2             1984 non-null   float64
 51  DE4             1984 non-null   float64
 52  DE5             1984 non-null   float64
 53  DE6             1984 non-null   float64
 54  CTB3M           1983 non-null   float64
 55  CTB6M           1983 non-null   float64
 56  CTB1Y           1983 non-null   float64
 57  AUD             1984 non-null   float64
 58  Brent           1984 non-null   float64
 59  CAC-F           1980 non-null   float64
 60  copper-F        1984 non-null   float64
 61  WIT-oil         1984 non-null   float64
 62  DAX-F           1980 non-null   float64
 63  DJI-F           1984 non-null   float64
 64  EUR             1984 non-null   float64
 65  FTSE-F          1978 non-null   float64
 66  gold-F          1984 non-null   float64
 67  HSI-F           1909 non-null   float64
 68  KOSPI-F         1905 non-null   float64
 69  NASDAQ-F        1984 non-null   float64
 70  GAS-F           1984 non-null   float64
 71  Nikkei-F        1984 non-null   float64
 72  NZD             1984 non-null   float64
 73  silver-F        1984 non-null   float64
 74  RUSSELL-F       1984 non-null   float64
 75  S&P-F           1984 non-null   float64
 76  CHF             1984 non-null   float64
 77  Dollar index-F  1984 non-null   float64
 78  Dollar index    1984 non-null   float64
 79  wheat-F         1982 non-null   float64
 80  XAG             1984 non-null   float64
 81  XAU             1984 non-null   float64
dtypes: float64(82)
memory usage: 1.2 MB

In [8]:
data = series_to_supervised(nasdaq_df.values, 40)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1984 entries, 0 to 1983
Columns: 3281 entries, var1(t-40) to target
dtypes: float64(3281)
memory usage: 49.7 MB